you need:

nodejs, npm

(sudo apt install nodejs npm) - example install script for npm for ubuntu

for set up, do:

cd college-map

npm install

and then, to set up the database, do:
chmod +x run-db.sh

after all of that setup, you can start the app by running:

./run-db.sh

then, open another shell instance and run:

npm run dev

then, once opening the link to the hosted web app on your local machine, you can test the app for yourself.
be sure to run docker stop college-map-db when you are done with the app!